#map{
    height: 400px;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    }
nav {
    background-color: #f2f2f2;
    border-bottom: 1px solid #cccccc;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    nav li {
    display: inline-block;
    margin-right: 20px;
    }
    
    nav li a {
    color: #333333;
    text-decoration: none;
    }
    
    nav li a:hover {
    color: #666666;
    }
    #language, #Cultural{
        width: 95vw;
        /* border: 1px solid black; */
        margin: auto;
        height: fit-content;
    }
    #language h2, #Cultural h2{
        margin: 10px 20px;
    }
    .img {
        margin: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .img .mg img{
        width: 500px;
    }
    .img .Llinks, .img .Clinks, #health{
        padding: 40px;
        text-align: center;
    }
    .img .Llinks, .img .Clinks, .Hlinks{
        margin: 10px;
    }
    .img .Llinks a button, .img .Clinks a button, .Hlinks a button{
        font-weight: bold;
        font-size: 15px;
        padding: 20px;
    }

@media only screen and (max-width:550px) {
    header h1{
        font-size: 23px;
    }
    main{
        width: 95vw;
        height: fit-content;
        margin: auto;
    }
    .img {
        width: 95vw;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .img .mg img{
        width: 360px;height: 250px;
    }
    .Llinks{
        width: 350px;
        text-align: center;
    }
    #language h2, #Cultural h2{
        text-align: center;
    }
    .img .Llinks, .img .Clinks, #health{
        padding: 20px;
    }
}


/* 
main {
padding: 20px;
}

.Hlinks{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: fit-content;
    margin-bottom: 10px;
    
}

.Hlinks a , .Llinks a , .Clinks a{
    margin: 10px;
}
.Hlinks a button , .Llinks a button , .Clinks a button{
    font-weight: bold;
    font-size: 17px;
    padding: 7px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
section {
margin-bottom: 20px;
}

section h2 {
margin-top: 0;
}


footer {
background-color: #333333;
color: #ffffff;
padding: 10px;
text-align: center;
}

footer p {
margin: 0;
}

.img{
    height: fit-content;
    background-color: #fafafa;
    width: 97vw;
    display: flex;
    flex-wrap: wrap;
}


.Clinks, .Llinks{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    margin: 10px;
}

img{
    width: auto;
    height: 300px;
}

@media only screen and (max-width:550px) {
    nav{
        padding: 20px;
    }
    main{
        overflow-x: hidden;
        width: 90vw;
        margin: auto;
    }
    .img{
        width: 95vw;
        height: fit-content;
        margin: auto;
        background-color: #d6c1c1;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }
    #language, #Cultural{
        width: 90vw;
        height: fit-content;
    }
    .mg img{
        margin: auto;
        width: 300px;
        height: 280px;
    }
    .Llinks, .Clinks{
        width: 350px;
        margin: auto;
        text-align: center;
        border: none;
    }
}
*/
